<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alliance.map">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <application>

        <!-- 设置key -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="4e38c3b112bababacc70580e00361abd" />
        <!-- 定位需要的服务 -->
        <service android:name="com.amap.api.location.APSService" />

        <activity android:name=".MapTestActivity"
            android:screenOrientation="landscape"/>
        <activity
            android:name="com.amap.api.navi.AmapRouteActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity android:name=".RestRouteShowActivity"
                  android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity android:name=".RouteNaviActivity"
                  android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity android:name=".search.SearchPoiActivity2"
                  android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity android:name=".search.SearchPoiActivity"/>
    </application>
</manifest>
